<div style="text-align:center">
  <h1>
    Welcome to my Portfolio!
  </h1>
  <img alt="Profile" src="https://randomuser.me/api/portraits/men/41.jpg" class="circled">
</div>

<div id="body">
  <nav>
    <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profile Information</a>
    <a routerLink="/skills" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Skills</a>
    <a routerLink="/work-experience" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Work Experience</a>
    <a routerLink="/social" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Social Accounts</a>
  </nav>
  
  <div id="wrap">
    <router-outlet></router-outlet>
  </div>
</div>
