select {
    font-size: 14px;
}
#body {
    text-align: center;
    margin: 0 auto;
    padding: 0 23%;
    nav {
        margin-top: 30px;
        a {
            margin-right: 10px;
            text-decoration: none;
            background: #c3c3c3;
            color: #FFF;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;

            &:hover, &.active {
                background: #369;
            }
        }
    }
}

#wrap {
    text-align: left;
    margin-top: 20px;
    border-top: 1px dashed #DDD;
}

.circled {
    border-radius: 50%;
}